body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mapboxgl-popup-close-button {
  font-size: 24px;
  margin: 5px;
  z-index: 99;
}
.mapboxgl-popup-content {
  margin-left: 60px;
  /*border-radius: 20px;*/
  background-color: rgb(80, 80, 80);
  color: white;
  padding: 0px;
}

.mapboxgl-popup-tip {
  display: none;
}

.report-form input {
  width: 90% !important;
}

.marker-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.marker {
  stroke: #f8c102;
  transform: translate(-10%, -50%);

  overflow: visible;

}

.popup {
  max-height: 800px;
  max-width: 800px;
  position: relative;
  text-align: center;
  
  
  /*padding: 0rem 1rem 1rem 1rem;*/
}

.popup-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.popup-img {
  max-height: 50%;
  max-width: 50%;
  
}

.popup-icon {
  height: 35px;
  width: 35px;
}

.deleteButton {
  position: absolute;
  bottom: 0px;
  right: 16px;
  bottom: 15px;
  height: 30px;
  width: 30px;

}

.fa-trash-o {
  font-size: 20px;
  
}

.entry {
  
}

.title {
  position: absolute;
  bottom: 0px;
  right: 40%;
}

.date {
  margin: 0px 0px 0px 0px;
  font-size: 14px;
  position: absolute;
  bottom: 50px;
  right: 16px;
}

.species {
  position: absolute;
  top: 0px;
  left: 16px;
}

.length {
  position: absolute;
  top: 50px;
  left: 16px;
}

.weight {
  position: absolute;
  top: 100px;
  left: 16px;
}

.lure {
  position: absolute;
  top: 150px;
  left: 16px;
}

.fishing-method {
  position: absolute;
  top: 200px;
  left: 16px;
}





.report-form label,
.report-form input, 
.report-form textarea,
.report-form button {
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}

.error {
  color: red;
}
