body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mapboxgl-popup-close-button {
  font-size: 24px;
  margin: 5px;
}
.mapboxgl-popup-content {
  margin-left: 60px;
  border-radius: 20px;
  background-color: #7ABED8;
  color: white;
}

.mapboxgl-popup-tip {
  display: none;
}

.marker-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.marker {
  stroke: #f8c102;
  transform: translate(-10%, -50%);

  overflow: visible;

}

.popup {
  height: 60vh;
  width: 50vw;
  
  padding: 0rem 1rem 1rem 1rem;
}

.popup-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.popup-icon {
  height: 35px;
  width: 35px;
}

.date {
  margin: 0px 0px 0px 0px;
  font-size: 14px;
}

.species {}

.length {}

.weight {}

.lure {}

.fishing-method {}





.report-form label,
.report-form input, 
.report-form textarea,
.report-form button {
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}

.error {
  color: red;
}
